version: "3.8"

services:
  frontend:
    build:
      context: ./tale-gameshop
      dockerfile: Dockerfile
    volumes:
      - ./tale-gameshop/dist:/frontend_build
    networks:
      - frontend_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: always
    environment:
      - ASPNETCORE_URLS=http://+:7002
      - MONGO_CONNECTION_STRING=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/mydatabase?replicaSet=rs0
    ports:
      - "7002:7002"
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - app_network

  mongo1:
    image: mongo:latest
    restart: always
    command: mongod --replSet rs0 --bind_ip_all
    volumes:
      - mongodb_data1:/data/db
    ports:
      - "27017:27017"
    networks:
      - app_network

  mongo2:
    image: mongo:latest
    restart: always
    command: mongod --replSet rs0 --bind_ip_all
    volumes:
      - mongodb_data2:/data/db
    networks:
      - app_network

  mongo3:
    image: mongo:latest
    restart: always
    command: mongod --replSet rs0 --bind_ip_all
    volumes:
      - mongodb_data3:/data/db
    networks:
      - app_network

  mongo-init:
    image: mongo:latest
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - app_network
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mongosh --host mongo1:27017 --eval 'rs.initiate({_id: \"rs0\", members: [{ _id: 0, host: \"mongo1:27017\" }, { _id: 1, host: \"mongo2:27017\" }, { _id: 2, host: \"mongo3:27017\" }]})';
      exit 0;
      "

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - keycloak-network
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
      
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    restart: always
    ports:
      - "8088:8088"
      - "8443:8443"
    depends_on:
      - postgres
    command: ["start", "--optimized"]
    networks:
      - keycloak-network
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABSE: $POSTGRES_USER
      KC_DB_USERNAME: $POSTGRES_DB
      KC_DB_PASSWORD: $POSTGRES_PASSWORD
      KC_HOSTNAME_URL: $KC_HOSTNAME_URL
      KC_HOSTNAME_STRICT_HTTPS: "true"
      KC_HOSTNAME_STRICT_BACKCHANNEL: "true"
      KC_PROXY: edge
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: $KEYCLOAK_ADMIN_PASSWORD
      KEYCLOAK_FRONTEND_URL: $KEYCLOAK_FRONTEND_URL
      # SMTP Configuration
      #KC_MAIL_SMTP_SERVER: $SMTP_SERVER
      #KC_MAIL_SMTP_PORT: $SMTP_PORT
      #KC_MAIL_SMTP_FROM: $SMTP_FROM
      #KC_MAIL_SMTP_USER: $SMTP_USER
      #KC_MAIL_SMTP_PASSWORD: $SMTP_PASSWORD
      #KC_MAIL_SMTP_AUTH: true
      #KC_MAIL_SMTP_SSL: true


  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
      - keycloak
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
  frontend_network:
    driver: bridge
  keycloak-network:
    driver: bridge

volumes:
  mongodb_data1:
  mongodb_data2:
  mongodb_data3:
