version: "3.8"

services:
  frontend:
    build:
      context: ./tale-gameshop
      dockerfile: Dockerfile
    volumes:
      - ./tale-gameshop/dist:/frontend_build
    networks:
      - frontend_network

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
    networks:
      - frontend_network

networks:
  frontend_network:
    driver: bridge
