.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding-top: 92px;
}

.app-footer {
  flex-shrink: 0;
}
